@charset "utf-8";
/* -------------------------

Ui_Style Sheets
: 초기화, 재정의 스타일시트
------------------------- */

/*drag*/
::selection{
   background-color: var(--drag-color) !important;
   color: $font-color;
}

/* disabled */
:disabled{
   background-color: $disabled-color !important;
   cursor: default;
}
:disabled:focus{
   border: $border-width solid $border-default-color !important;
}

/* -------------------------
   텍스트
------------------------- */

/* hn */
h1, h2, h3, h4, h5, h6{
   margin: $margin-0 !important;
   padding: $padding-0 !important;
}

/* p / span / sub */
p, span, sub, small, .label{
   font-weight: $font-weight-400;
   margin: $margin-0 !important;
   padding: $padding-0 !important;
}

/*a*/
a{
   color: $a-color !important;
   &:link, &:visited, &:active, &:hover{
      text-decoration: none;
   }
   &:active{
      color: $a-active-color !important;
   }
   &:hover{
      color: $a-hover-color !important;
   }
} //end

/* label */
.form-inline{
   label{
      width: $width-160;
      height: $width-30 + 6;
      line-height: 2;
      margin: 0 !important;
      text-align: left;
   }
} // end

/* -------------------------
   Card
------------------------- */
.card{
   border: $border-none !important;
   border-radius: $border-radius-10 !important;
   box-shadow: $box-shabow !important;
   .card-conetent{
      height: 100%;
      border-radius: $border-radius-10 !important;
   }
   .card-header, .card-body, .card-footer{
      padding: $padding-10 !important;
      background-color: transparent;
   }
   // card-header
   .card-header{
      background-color: transparent;
      margin-bottom: $margin-0 !important;
      border-bottom: $border-none !important;
      display: flex;
      height: auto;
      line-height: 1.5 !important;
      padding-left: $padding-10 + 5 !important;
      // 드레그 방지
      // -ms-user-select: none; 
      // -moz-user-select: -moz-none; 
      // -webkit-user-select: none; 
      // -khtml-user-select: none; 
      // user-select:none;
      .title{
         width: 100%;
         display: flex;
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
      h4{
         width: 100%;
         font-size: $font-size-20;
         // 한줄
         display: inline-block;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
      }
   }
   // card-body
   .card-body{
      height: auto;
      border-radius: $border-radius-bottom !important;
   }
   .card-footer{
      // background-color: $white;
      margin-top: $margin-0!important;
      border-top: $border-none !important;
      &:last-child{
         border-radius: $border-radius-bottom !important;
      }
      // btns-group
      .button-group-component{
         width: 100%;
         .btns-group{
            text-align: right;
            float: right;
         }
         .btns-page{
            text-align: left;
            float: left;
         }
      }
      // button
      .btn{
         float: right;
      }
   }
   &.disabled{
      cursor: default;
      &:hover{
         background-color: $disabled-color !important;
      }
      &:active{
         background-color: $disabled-color !important;
      }
   }
} //end

.right-align{
   display: flex;
   flex-direction: row;
   margin-left: auto;
   .delete-selected{
      margin-left: $margin-10 !important;
   }
}

/* error-card */
.error-card{
   border: $border-width solid $red-color !important;
   box-shadow: $box-shabow-red !important;
}

/* -------------------------
   Button
------------------------- */

/*default btn style*/
.btn{
   width: auto;
   height: $height-40;
   font-size: $font-size-15 !important;
   padding: $padding-5 $padding-20 !important;
   font-weight: $font-weight-500;
   border-radius: $border-radius-5 !important;
   outline: none !important;
   box-sizing: border-box;
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
   /* Button Disabled */
   &.disabled, &:disabled{
      cursor: default !important;
      .b-icon{
         &.bi{
            cursor: default !important;
         }
      }
      &:hover{
         background-color: $disabled-color !important;
         border: $border-width solid $gray-color !important;
      }
   }
} // end

/* btn-primary */
.btn-primary{
   color: $white;
   // background-color: $button-default-color !important;
   background-color: var(--btn-default-color) !important;
   border-color: var(--btn-default-color) !important;
   &:active{
      background-color: var(--btn-default-active-color) !important;
      border-color: var(--btn-default-active-color) !important;
   }
   &:hover{
      background-color: var(--btn-default-hover-color) !important;
      border-color: var(--btn-default-hover-color) !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-outline-primary */
.btn-outline-primary{
   color: var(--btn-default-color) !important;
   background-color: $white !important;
   border-color: var(--btn-default-color) !important;
   &:active{
      background-color: var(--btn-default-active-color) !important;
      border-color: var(--btn-default-active-color) !important;
   }
   &:hover{
      background-color: var(--btn-default-hover-color) !important;
      border-color: var(--btn-default-hover-color) !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-secondary */
.btn-secondary{
   color: $white;
   background-color: $btn-color-gray !important;
   border-color: $btn-color-gray !important;
   &:active{
      background-color: $btn-active-color-gray !important;
      border-color: $btn-active-color-gray !important;
   }
   &:hover{
      background-color: $btn-hover-color-gray !important;
      border-color: $btn-hover-color-gray !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-outline-secondary */
.btn-outline-secondary{
   color: $btn-color-gray!important;
   background-color: $white !important;
   border-color: $btn-color-gray !important;
   &:active{
      background-color: $btn-active-color-gray !important;
      border-color: $btn-active-color-gray !important;
   }
   &:hover{
      background-color: $btn-hover-color-gray !important;
      border-color: $btn-hover-color-gray !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-success */
.btn-success{
   color: $white;
   background-color: $btn-color-green !important;
   border-color: $btn-color-green !important;
   &:active{
      background-color: $btn-active-color-green !important;
      border-color: $btn-active-color-green !important;
   }
   &:hover{
      background-color: $btn-hover-color-green !important;
      border-color: $btn-hover-color-green !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-outline-success */
.btn-outline-success{
   color: $btn-color-green !important;
   background-color: $white !important;
   border-color: $btn-color-green !important;
   &:active{
      background-color: $btn-active-color-green !important;
      border-color: $btn-active-color-green !important;
   }
   &:hover{
      background-color: $btn-hover-color-green !important;
      border-color: $btn-hover-color-green !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
}// end

/* btn-danger */
.btn-danger{
   color: $white;
   background-color: $btn-color-red !important;
   border-color:$btn-color-red !important;
   &:active{
      background-color: $btn-active-color-red !important;
      border-color: $btn-active-color-red !important;
   }
   &:hover{
      background-color: $btn-active-color-red !important;
      border-color: $btn-active-color-red !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-outline-danger */
.btn-outline-danger{
   color: $btn-color-red !important;
   background-color: $white !important;
   border-color: $btn-color-red !important;
   &:active{
      background-color: $btn-active-color-red !important;
      border-color: $btn-active-color-red !important;
   }
   &:hover{
      background-color: $btn-hover-color-red !important;
      border-color: $btn-hover-color-red !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-warning */
.btn-warning{
   color: $white;
   background-color: $btn-color-yellow !important;
   border-color: $btn-color-yellow !important;
   &:active{
      background-color: $btn-active-color-yellow !important;
      border-color: $btn-active-color-yellow !important;
   }
   &:hover{
      background-color: $btn-hover-color-yellow !important;
      border-color: $btn-hover-color-yellow !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* btn-outline-warning */
.btn-outline-warning{
   color: $btn-color-yellow !important;
   background-color: $font-color !important;
   border-color: $btn-color-yellow !important;
   &:active{
      background-color: $btn-active-color-yellow !important;
      border-color: $btn-active-color-yellow !important;
   }
   &:hover{
      background-color: $btn-hover-color-yellow !important;
      border-color: $btn-hover-color-yellow !important;
   }
   &:focus{
      background-color: none !important;
      border-color: none !important;
      outline: none !important;
      box-shadow: $box-shabow-none !important;
   }
} // end

/* -------------------------
   form : input, select ... 
------------------------- */

/*col-form-label*/
.col-form-label{
   padding-top: $padding-0 !important;
   padding-bottom: $padding-0 !important;
   line-height: 2.5 !important;
   height: $height-40;
   font-size: $font-size-16 !important;
   text-align: left;
}

/* form-group */
.form-group{
   .bv-no-focus-ring{
      width: 100%;
   }
   .input-group{
      .input-group-prepend{
         .input-group-text{
            color: #383D45;
            background-color: #e5e5e5;
            border: 1px solid #d1d2d2;
         }
      }
      .form-control{
         border-radius: 0 5px 5px 0 !important;
      }
   }
} // end

.form-control{
   &:disabled{
      background-color: $disabled-color !important;
      color: #8C8C8C;
      cursor: default;
   }
   &:focus{
      box-shadow: $box-shabow-none !important;
      border: $border-width solid $border-default-color !important;
   }
}
.form-control[readonly]{
   background-color: $disabled-color !important;
   color: #8C8C8C;
   cursor: default;
   &:focus{
      box-shadow: $box-shabow-none !important;
      border: $border-width solid $border-default-color !important;
   }
} // end

.form-control, .custom-select, input, select{
   width: 100%;
   color: $font-color !important;
   border: $border-width solid $border-default-color !important;
   border-radius: $border-radius-5 !important;
   height: $height-40 !important;
   padding: $padding-5 $padding-10 !important;
   line-height: 2.5 !important;
   font-size: $font-size-16 !important;
   // 긴 글 ... 대체
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   &:focus{
      color: $font-color !important;
      border-color: var(--border-focus-color) !important;
      outline: none !important;
      box-shadow: var(--border-focus-box-shadow) !important;
   }
   // input-invalid
   &.is-invalid{
      border-color : $red-color !important;
      font-size: $font-size-13;
      outline: none;
      padding-right: 25px !important;
      background-position: right calc(0.375em + 0rem) center !important;
      &:focus{
         box-shadow : $box-shabow-red !important;
      }
   }
   // input-valid
   &.is-valid{
      border-color: $green-color !important;
      font-size: $font-size-13;
      outline: none;
      padding-right: 25px !important;
      background-position: right calc(0.375em + 0rem) center !important;
      &:focus{
         box-shadow: $box-shabow-green !important;
      }
   }
} // end

/* invalid-feedback */
.invalid-feedback{
   color : $red-color !important;
   font-size: $font-size-13 !important;
   outline: none;
   cursor: default;
   text-align: left;
}

/*input-invalid*/
.was-validated{
   .form-control{
      &:invalid, &.is-invalid{
         border-color : $red-color !important;
         &:focus{
            box-shadow : $box-shabow-red !important;
         }
      }
   }
} // end

/* input : appearance 없애기 */
input, select{
   // -webkit-appearance: none;
   // -moz-appearance: none;
   // appearance: none;
   // /* user-select */
   // -webkit-touch-callout: none; /* iOS Safari */
   // -webkit-user-select: none; /* Safari */
   // -khtml-user-select: none; /* Konqueror HTML */
   // -moz-user-select: none; /* Old versions of Firefox */
   // -ms-user-select: none; /* Internet Explorer/Edge */
   // user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* input type number button 없애기  */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
   //-webkit-appearance: none;
   //-moz-appearance: none;
   appearance: none;
}

/* 파이어폭스에서 적용됨
input number의 외형을 텍스트 필드로 바꿔주어야 함 */
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

/* placeholder */
input::placeholder, textarea::placeholder{
   color: $a-hover-color !important;
   font-size: $font-size-16;
}

/* textarea*/
textarea{
   &.form-control{
      height: 65px !important;
      white-space: pre-line;
      overflow-y: auto;
      line-height: 1.6 !important;
   }
}

/* select */
.custom-select, select{
   padding: $padding-5 $padding-30 $padding-5 $padding-10 !important;
   line-height: 1 !important;
   // dropdown icon 변경 
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   // arrow img 변경
   background-image: $ico-dropdown-arrow !important;
   background-repeat: no-repeat !important;
   background-position: calc(100% - 11px) 50% !important;
   background-size: $width-20 + 4 !important;
   //화살표 없애기 for IE10, 11
   &::-ms-expand{
      display: none; 
   }
} // end

/* custom-file */
.custom-file, .custom-file-input{
   height: $height-40 !important;
   border-radius: $border-radius-5 !important;
   &:focus{
      box-shadow : var(--border-focus-box-shadow) !important;
   }
   .custom-file-label{
      border: $border-width solid $border-default-color !important;
      border-radius: $border-radius-5 !important;
      height: $height-40 !important;
      line-height: 1.6;
      font-size: $font-size-16 !important;
      &::after{
         background-color: $white !important;
         color: var(--default-color) !important;
         font-weight: $font-weight-600;
         height: $height-30 + 8 !important;
         line-height: 1.6;
         border-radius: $border-radius-right !important;
      }
   }
} // end

.custom-file-input{
   &:focus{
      &~.custom-file-label{
         box-shadow : var(--border-focus-box-shadow) !important;
         border-color: var(--border-focus-color) !important;
      }
   }
} // end

.custom-file-input.is-invalid~.custom-file-label{
   border-color : $red-color !important;
   &:focus{
      box-shadow : $box-shabow-red !important;
   }
   &::after{
      background-color: $white !important;
      color: $red-color !important;
      font-weight: $font-weight-600;
      border-radius: $border-radius-right;
   }
} // end

/* modal form */
.form-group{
   .select-editable{
      .custom-select{
         &:focus{
            border-color: var(--border-focus-color) !important;
            box-shadow: var(--border-focus-box-shadow) !important;
         }
      }
      input{
         &:focus{
            box-shadow: $box-shabow-none !important;
         }
      }
   }
} // end

/* check-box / radio*/
.custom-control-label{
   &:before{
      width: $width-10 + 6 !important;
      height: $width-10 + 6 !important;
      background-color: $white;
      border: $border-width solid $border-default-color !important;
   }
   &:after{
      width: $width-10 + 6 !important;
      height: $width-10 + 6 !important;
   }
}
.custom-control-input:checked~.custom-control-label:before{
   color: $white;
   border-color: var(--btn-default-color) !important;
   background-color: var(--btn-default-color) !important;
}
.custom-control-input:focus~.custom-control-label:before{
   box-shadow: $box-shabow-none !important;
}

/* -------------------------
   Badge
------------------------- */
.badge{
   width: $width-20 + 4 ;
   height: $height-20 + 4;
   line-height: 2;
   font-size: $font-size-12 !important;
   padding: $padding-0 !important;
}

.badge-primary{
   background-color: var(--default-color) !important;
   color: $white !important;
}
.badge-secondary{
   background-color: $secondary-color !important;
   color: $white !important;
}
.badge-success{
   background-color: $green-color !important;
   color: $white !important;
}
.badge-danger{
   background-color: $red-color !important;
   color: $white !important;
}
.badge-warning{
   background-color: $yellow-color !important;
   color: $white !important;
}

/* -------------------------
   Progress
------------------------- */
.progress{
   background-color: $disabled-color !important;
} 
// Progress Color
.progress-bar{
   background-color: var(--progress-bar-color) !important;
}
.bg-success{
   background-color: $green-color !important;
}
.bg-warning{
   background-color: $yellow-color !important;
}
.bg-warning{
   background-color: $red-color !important;
}

/* -------------------------
   Slider
------------------------- */
.process-slider, .iochord-ipr-graph-speed-slider, .iochord-ipr-graph-time-slider{
   // 원 크기
   .vue-slider-dot{
      width: $width-20 !important;
      height: $height-20 !important;
   }
   // 원 스타일
   .vue-slider-dot-handle{
      background-color: var(--slider-bar-color) !important;
      box-shadow: var(--box-shabow-slider) !important;
      border: $border-none !important;
   }
   // 움직이는 
   .vue-slider-process{
      background-color : var(--slider-bar-color) !important;
   }
   // tooltip
   .vue-slider-dot-tooltip-inner{
      border-color: var(--slider-bar-color) !important;
      background-color: var(--slider-bar-color) !important;
   }
}

.custom-range{
   border: $border-none !important;
   &:focus{
      box-shadow: $box-shabow-none !important;
   }
}

/* -------------------------
   캘린더
------------------------- */
// 선택된 폰트 색상
.vc-text-red-900{ 
   color: var(--default-color) !important;
}

// 시작 일자 - 종료 일자 선택된 백그라운드 영역
.vc-bg-red-200{
   background-color: var(--active-color) !important;
}
// 선택된 보더 컬러
.vc-border-red-700{
   border-color: var(--default-color) !important;
}

/*통합날짜*/
.vc-bg-red-100{
   background-color: var(--icon-color) !important;
}
.vc-border-gray-700{
   background-color: var(--active-color) !important;
}
.vc-bg-gray-800{
   background-color: var(--card-active-color) !important;
}
.hover\:vc-bg-gray-900:hover{
   background-color: transparent !important;
   color: var(--icon-color) !important;
}

.vc-h-full{
   // 시작일자 - 종료일자 표시
   .vc-highlights{
      .vc-day-layer{
         //선택된 전체 일자 영역
         .vc-highlight-base-middle{
            background-color: var(--active-color) !important;
         }
         // 시작일자 - 종료일자 표시
         .vc-bg-red-600{
            background-color: var(--default-color) !important;
         }
      }
   }
   // 일자 효과
   .vc-day-content{
      width: 30px !important;
      &:focus{
         background-color: transparent !important;
         color: var(--icon-color) !important;
      }
      &:hover{
         background-color: transparent !important;
      }
   }
} //  end

.vc-reset [role=button]{
   &:hover{
      color: var(--icon-color) !important;
   }
}

/* -------------------------
   Form Datepicker
------------------------- */
.b-calendar{
   .form-control{
      &:focus{
         box-shadow: $box-shabow-none !important;
      }
   }
   .b-calendar-nav{
      // arrow btn
      .btn{
         &:hover{
            color: var(--default-color) !important;
            background-color: var(--btn-default-hover-color) !important;
            border-color: var(--btn-default-hover-color) !important;
         }
      }
   }
   // month
   .b-calendar-grid-body{
      // button
      .btn-primary:not(:disabled):not(.disabled).active{
         color: $white;
         background-color: var(--btn-default-color);
         border-color: var(--btn-default-color);
      }
      .btn-primary:not(:disabled):not(.disabled).active:focus{
         box-shadow: $box-shabow-purple !important;
      }
   }
   // footer
   footer{
      display: none !important;
   }
} // end

/* -------------------------
   Tooltip
------------------------- */
.tooltip{
   cursor: default;
   .tooltip-inner{
      background-color: var(--default-color);
      box-shadow: $box-shabow;
      text-align: left;
      max-width: 300px;
   }
   &.b-tooltip{
      opacity: 1;
   }
   &.bs-tooltip-top{
      .arrow{
         &::before{
            border-top-color: var(--default-color);
         }
      }
   }
   &.bs-tooltip-left{
      .arrow{
         &::before{
            border-left-color: var(--default-color);
         }
      }
   }
   &.bs-tooltip-right{
      .arrow{
         &::before{
            border-right-color: var(--default-color);
         }
      }
   }
   &.bs-tooltip-bottom{
      .arrow{
         &::before{
            border-bottom-color: var(--default-color);
         }
      }
   }
} // end