/* -------------------------

Style Sheets Variable

Common

------------------------- */

/* Image : Logo */
$logo-iochord :                           url("../public/img/logo-img/logo_iochord.svg") !default;
$logo-ipr :                               url("../public/img/logo-img/logo_ipr.svg") !default;
$logo-ipr-fill :                          url("../public/img/logo-img/logo_ipr_fill.svg") !default;
$logo-ipr-fullname:                       url("../public/img/logo-img/logo_ipr_fullname_purple.svg")!default;

$logo-mysql:                              url("../public/img/logo-img/logo_mysql.png") !default;
$logo-oracle:                             url("../public/img/logo-img/logo_oracle.png") !default;
$logo-postgresql:                         url("../public/img/logo-img/logo_postgresql.png") !default;
$logo-microsoftsql:                       url("../public/img/logo-img/logo_microsoftsql.png") !default;
$logo-hadoop:                             url("../public/img/logo-img/logo_hadoop.png") !default;
$logo-edge:                               url("../public/img/logo-img/logo_ms_edge.png") !default;
$logo-chrome:                             url("../public/img/logo-img/logo_chrome.png") !default;
$logo-firefox:                            url("../public/img/logo-img/logo_firefox.png") !default;

/* Image : Common */
$bg-paper-pattern:                        url("../public/img/common-img/bg_paper_pattern.png") !default;
$ico-title-menu:                          url("../public/img/common-img/ico_title_menu.png") !default;
$ico-title-menu-w:                        url("../public/img/common-img/ico_title_menu_w.png") !default;
$ico-breadcrumb-arrow:                    url("../public/img/common-img/ico_breadcrumb_arrow.png") !default;
$ico-dropdown-arrow:                      url("../public/img/common-img/ico_dropdown_arrow.png") !default;
$ico-user:                                url("../public/img/common-img/ico_user.png") !default;
$ico-close:                               url("../public/img/common-img/ico_close.png") !default;
$ico-setting:                             url("../public/img/common-img/ico_setting.png") !default;
$ico-sort-up:                             url("../public/img/common-img/ico_sort_up.png") !default;
$ico-sort-bown:                           url("../public/img/common-img/ico_sort_bown.png") !default;
$ico-download:                            url("../public/img/common-img/ico_download.svg") !default;
$ico-upload:                              url("../public/img/common-img/ico_upload.svg") !default;

$ico-error:                               url("../public/img/common-img/ico_error.png") !default;
$ico-success:                             url("../public/img/common-img/ico_success.png") !default;

$loading:                                 url("../public/img/common-img/loading.gif") !default;

/* Image : Common > sidebar */
$ico-home:                                url("../public/img/common-img/ico_home.png") !default;
$ico-discovery:                           url("../public/img/common-img/ico_discovery.png") !default;
$ico-dashboard:                           url("../public/img/common-img/ico_dashboard.png") !default;
$ico-delta:                               url("../public/img/common-img/ico_delta.png") !default;
$ico-play:                                url("../public/img/common-img/ico_play.png") !default;
$ico-matrix:                              url("../public/img/common-img/ico_matrix.png") !default;
$ico-social:                              url("../public/img/common-img/ico_social.png") !default;
$ico-dotted:                              url("../public/img/common-img/ico_dotted.png") !default;

/* Image : toolbar */
$ico-undo:                                url("../public/img/toolbar-img/ico_undo.svg") !default;
$ico-redo:                                url("../public/img/toolbar-img/ico_redo.svg") !default;
$ico-png:                                 url("../public/img/toolbar-img/ico_png.svg") !default;
$ico-svg:                                 url("../public/img/toolbar-img/ico_svg.svg") !default;
$ico-clear:                               url("../public/img/toolbar-img/ico_clear.svg") !default;
$ico-full-screen:                         url("../public/img/toolbar-img/ico_full_screen.svg") !default;
$ico-front:                               url("../public/img/toolbar-img/ico_front.svg") !default;
$ico-back:                                url("../public/img/toolbar-img/ico_back.svg") !default;
$ico-graph-align:                         url("../public/img/toolbar-img/ico_graph_align.svg") !default;
$ico-zoom-fit:                            url("../public/img/toolbar-img/ico_zoom_fit.svg") !default;
$ico-error-report:                        url("../public/img/toolbar-img/ico_error_report.svg") !default;

/* Image : Modal */
$img-excel:                               url("../public/img/contents-img/img_excel.png") !default;
$img-mxml:                                url("../public/img/contents-img/img_mxml.svg") !default;
$img-xes:                                 url("../public/img/contents-img/img_xes.svg") !default;
$img-file:                                url("../public/img/contents-img/img_file.png") !default;

$img-header-row-index:                    url("../public/img/contents-img/img_header_row_index.jpg") !default;
$img-delimeter:                           url("../public/img/contents-img/img_delimeter.jpg") !default;
$img-fitness:                             url("../public/img/contents-img/img_fitness.png") !default;

/* Image : Learn */
$img-learn-01:                            url("../public/img/contents-img/img_learn_01.jpg") !default;
$img-learn-02:                            url("../public/img/contents-img/img_learn_02.jpg") !default;
$img-learn-03:                            url("../public/img/contents-img/img_learn_03.jpg") !default;
$img-learn-04:                            url("../public/img/contents-img/img_learn_04.jpg") !default;
$img-learn-05:                            url("../public/img/contents-img/img_learn_05.jpg") !default;
$img-learn-06:                            url("../public/img/contents-img/img_learn_06.jpg") !default;

/* Image : Theme */
.theme-purple {
   /*Image*/
   --ico-filter:                          url("../public/img/theme-img/ico_filter_purple.svg");
   --ico-list:                            url("../public/img/theme-img/ico_list_purple.svg");
   --ico-editor:                          url("../public/img/theme-img/ico_editor_purple.svg");
   --ico-horizontal:                      url("../public/img/theme-img/ico_horizontal_sort_purple.svg");
   --ico-vertical:                        url("../public/img/theme-img/ico_vertical_sort_purple.svg");
   --ico-map-show:                        url("../public/img/theme-img/ico_map_show_purple.svg");
   --ico-map-hide:                        url("../public/img/theme-img/ico_map_hide_purple.svg");
   --ico-table:                           url("../public/img/theme-img/ico_table_purple.svg");
   --ico-bottleneck:                      url("../public/img/theme-img/ico_bottleneck_purple.svg");
   --ico-rework:                          url("../public/img/theme-img/ico_rework_purple.svg");
   --ico-pause:                           url("../public/img/theme-img/ico_pause_purple.svg");
   --ico-play:                            url("../public/img/theme-img/ico_play_purple.svg");


   --logo-ipr-fullname:                   url("../public/img/logo-img/logo_ipr_fullname_purple.svg");
}

.theme-brown {
   /*Image*/
   --ico-filter:                          url("../public/img/theme-img/ico_filter_brown.svg");
   --ico-list:                            url("../public/img/theme-img/ico_list_brown.svg");
   --ico-editor:                          url("../public/img/theme-img/ico_editor_brown.svg");
   --ico-horizontal:                      url("../public/img/theme-img/ico_horizontal_sort_brown.svg");
   --ico-vertical:                        url("../public/img/theme-img/ico_vertical_sort_brown.svg");
   --ico-map-show:                        url("../public/img/theme-img/ico_map_show_brown.svg");
   --ico-map-hide:                        url("../public/img/theme-img/ico_map_hide_brown.svg");
   --ico-table:                           url("../public/img/theme-img/ico_table_brown.svg");
   --ico-rework:                          url("../public/img/theme-img/ico_rework_brown.svg");
   --ico-bottleneck:                      url("../public/img/theme-img/ico_bottleneck_brown.svg");
   --ico-pause:                           url("../public/img/theme-img/ico_pause_brown.svg");
   --ico-play:                            url("../public/img/theme-img/ico_play_brown.svg");

   --logo-ipr-fullname:                   url("../public/img/logo-img/logo_ipr_fullname_brown.svg");
}

.theme-green {
      /*Image*/
      --ico-filter:                      url("../public/img/theme-img/ico_filter_green.svg");
      --ico-list:                        url("../public/img/theme-img/ico_list_green.svg");
      --ico-editor:                      url("../public/img/theme-img/ico_editor_green.svg");
      --ico-horizontal:                  url("../public/img/theme-img/ico_horizontal_sort_green.svg");
      --ico-vertical:                    url("../public/img/theme-img/ico_vertical_sort_green.svg");
      --ico-map-show:                    url("../public/img/theme-img/ico_map_show_green.svg");
      --ico-map-hide:                    url("../public/img/theme-img/ico_map_hide_green.svg");
      --ico-table:                       url("../public/img/theme-img/ico_table_green.svg");
      --ico-rework:                      url("../public/img/theme-img/ico_rework_green.svg");
      --ico-bottleneck:                  url("../public/img/theme-img/ico_bottleneck_green.svg");
      --ico-pause:                       url("../public/img/theme-img/ico_pause_green.svg");
      --ico-play:                        url("../public/img/theme-img/ico_play_green.svg");
   
      --logo-ipr-fullname:               url("../public/img/logo-img/logo_ipr_fullname_green.svg");
}

/* Common-Color */
$font-color:                             #383D45 !default;
$font-color-white:                       #FFFFFF !default;
$font-color-white-opacity:               rgba(255,255,255,0.5) !default;
$disabled-color:                         #e5e5e5 !default;

/* Common Color : border */
$border-default-color:                   #d1d2d2 !default;
$card-border-default-color:              #e9e9e9 !default;

/* Color : Side Menu */
//$sidebar-color:                          #f6efd7 !default;

/* Color : Sub */
$sub-color:                              #f8ebba !default;
$sub-active-color:                       #fbf3d6 !default;
$sub-hover-color:                        #fcf7e3 !default;

/* Color : a */
$a-color:                                #383D45 !default;
$a-active-color:                         #8C8C8C !default;
$a-hover-color:                          #BFBFBF  !default;

/* Color : Breadcrumb */
$breadcrumb-color:                       #383D45 !default;
$breadcrumb-active-color:                #8C8C8C !default;
$breadcrumb-hover-color:                 #BFBFBF !default;

/* Color : Blue / Red / Yellow / Green */
$blue-color:                             #2E6CB5 !default;
$red-color:                              #ED5152 !default;
$yellow-color:                           #F2B90F !default;
$green-color:                            #05A66B !default;
$gray-color:                             #A4A5A6 !default;
$secondary-color:                        #A4A5A6 !default;

/* Button : Blue */
$btn-color-blue:                         #2E6CB5 !default;
$btn-active-color-blue:                  #5789C3 !default;
$btn-hover-color-blue:                   #96B5DA !default;

/* Button : Red */
$btn-color-red:                          #ED5152 !default;
$btn-active-color-red:                   #F07374  !default;
$btn-hover-color-red:                    #F6A7A8 !default;

/* Button : Yellow */
$btn-color-yellow:                       #F2B90F !default;
$btn-active-color-yellow:                #F4C73F !default;
$btn-hover-color-yellow:                 #F4C73F!default;

/* Button : Green */
$btn-color-green:                       #05A66B !default;
$btn-active-color-green:                #37B788 !default;
$btn-hover-color-green:                 #81D2B4 !default;

/* Button : Gray */
$btn-color-gray:                       #A4A5A6 !default;
$btn-active-color-gray:                #B6B7B7 !default;
$btn-hover-color-gray:                 #D1D2D2 !default;

/* Box Shadow */
$box-shabow-none:                     0px 0px 0px 0px !default;
$box-shabow-header:                     0px 0px 6px 4px rgba(148,133,161,0.4) !default;
$box-shabow-focus:                      0px 0px 5px 1px rgba(56, 61, 69, 0.2) !default;
$box-shabow:                            0px 0px 5px 1px rgba(56, 61, 69, 0.2) !default;
$box-shabow-blue:                       0px 0px 5px 1px rgba(46, 108, 181, 0.2) !default;
$box-shabow-red:                        0px 0px 5px 1px rgba(237, 81, 82, 0.2) !default;
$box-shabow-green:                      0px 0px 5px 1px rgba(5, 166, 107, 0.2) !default;
$box-shabow-yellow:                     0px 0px 5px 1px rgba(242, 185, 15, 0.2) !default;
$box-shabow-purple:                     0px 0px 5px 1px rgba(150, 84, 255, 0.2) !default;

/* Border */
$border-none:                           none !default;

/* Border Width */
$border-width-2:                        2px !default;
$border-width-3:                        3px !default;
$border-width-4:                        4px !default;
$border-width-5:                        5px !default;
$border-width-6:                        6px !default;
$border-width-7:                        7px !default;
$border-width-8:                        8px !default;
$border-width-9:                        9px !default;
$border-width-10:                       10px !default;

/* Border Radius */
$border-radius-none:                    0px 0px 0px 0px !default;
$border-radius-5:                       5px !default;
$border-radius-10:                      10px !default;
$border-radius-15:                      15px !default;
$border-radius-20:                      20px !default;
$border-radius-25:                      25px !default;
$border-radius-30:                      30px !default;

$border-radius-top:                     10px 10px 0px 0px !default;
$border-radius-right:                   0px 10px 10px 0px !default;
$border-radius-bottom:                  0px 0px 10px 10px !default;
$border-radius-left:                    10px 0px 0px 10px !default;

$border-radius-top-left-edge:           10px 0px 0px 0px !default;
$border-radius-top-right-edge:          0px 10px 0px 0px !default;
$border-radius-bottom-right-edge:       0px 0px 10px 0px !default;
$border-radius-bottom-left-edge:        0px 0px 0px 10px !default;

/* Width */
$width-0:                               0px !default;                     
$width-5:                               5px !default;   
$width-10:                              10px !default;
$width-20:                              20px !default;                     
$width-30:                              30px !default;                     
$width-40:                              40px !default;                     
$width-50:                              50px !default; 
$width-60:                              60px !default; 
$width-70:                              70px !default;                     
$width-80:                              80px !default;                     
$width-90:                              70px !default;                     
$width-100:                             100px !default;                     
$width-110:                             110px !default;                     
$width-120:                             120px !default;   
$width-130:                             130px !default;                     
$width-140:                             140px !default;   
$width-150:                             150px !default;                     
$width-160:                             160px !default;                     
$width-170:                             170px !default;   
$width-180:                             180px !default;                     
$width-190:                             190px !default;   
$width-200:                             200px !default;  
$width-220:                             220px !default;
$width-240:                             240px !default;
$width-260:                             260px !default;
$width-280:                             280px !default;
$width-300:                             300px !default;
$width-400:                             400px !default;
$width-500:                             500px !default;
$width-600:                             600px !default;
$width-700:                             700px !default;
$width-800:                             800px !default;
$width-900:                             900px !default;

/* Height */
$height-0:                              0px !default;
$height-5:                              5px !default;
$height-10:                             10px !default;
$height-20:                             20px !default;
$height-30:                             30px !default;
$height-40:                             40px !default;
$height-50:                             50px !default;
$height-60:                             60px !default;
$height-70:                             70px !default;
$height-80:                             80px !default;
$height-90:                             90px !default;
$height-100:                            100px !default;
$height-110:                            110px !default;
$height-120:                            120px !default;
$height-130:                            130px !default;
$height-140:                            140px !default;
$height-150:                            150px !default;
$height-160:                            160px !default;
$height-170:                            170px !default;
$height-180:                            180px !default;
$height-190:                            190px !default;
$height-200:                            200px !default;
$height-300:                            300px !default;
$height-400:                            400px !default;
$height-500:                            500px !default;
$height-600:                            600px !default;
$height-700:                            700px !default;
$height-800:                            800px !default;
$height-900:                            900px !default;

/* Margin */
$margin-0:                              0px !default;
$margin-5:                              5px !default;
$margin-10:                             10px !default;
$margin-20:                             20px !default;
$margin-30:                             30px !default;
$margin-40:                             40px !default;
$margin-50:                             50px !default;
$margin-60:                             60px !default;
$margin-70:                             70px !default;
$margin-80:                             80px !default;
$margin-90:                             90px !default;
$margin-100:                            100px !default;
$margin-200:                            200px !default;
$margin-300:                            300px !default;
$margin-400:                            400px !default;
$margin-500:                            500px !default;
$margin-600:                            600px !default;
$margin-700:                            700px !default;
$margin-800:                            800px !default;
$margin-900:                            900px !default;

/* Padding */
$padding-0:                             0px !default;
$padding-5:                             5px !default;
$padding-10:                            10px !default;
$padding-20:                            20px !default;
$padding-30:                            30px !default;
$padding-40:                            40px !default;
$padding-50:                            50px !default;
$padding-60:                            60px !default;
$padding-70:                            70px !default;
$padding-80:                            80px !default;
$padding-90:                            90px !default;
$padding-100:                           100px !default;
$padding-200:                           200px !default;
$padding-300:                           300px !default;
$padding-400:                           400px !default;
$padding-500:                           500px !default;
$padding-600:                           600px !default;
$padding-700:                           700px !default;
$padding-800:                           800px !default;
$padding-900:                           900px !default;

/* Top / right / bottom / left */
$top-0:                                 0px !default;
$right-0:                               0px !default;
$bottom-0:                              0px !default;
$left-0:                                0px !default;

/* Value */
$value-0:                               0px !default; 
$value-1:                               1px !default; 
$value-2:                               2px !default; 
$value-3:                               3px !default; 
$value-4:                               4px !default; 
$value-5:                               5px !default;
$value-6:                               6px !default; 
$value-7:                               7px !default; 
$value-8:                               8px !default; 
$value-9:                               9px !default; 

/* Font Size */
$font-size-10:                          10px !default;
$font-size-11:                          11px !default;
$font-size-12:                          12px !default;
$font-size-13:                          13px !default;
$font-size-14:                          14px !default;
$font-size-15:                          15px !default;
$font-size-16:                          16px !default;
$font-size-17:                          17px !default;
$font-size-18:                          18px !default;
$font-size-19:                          19px !default;
$font-size-20:                          20px !default;
$font-size-21:                          21px !default;
$font-size-22:                          22px !default;
$font-size-23:                          23px !default;
$font-size-24:                          24px !default;
$font-size-25:                          25px !default;
$font-size-26:                          26px !default;
$font-size-27:                          27px !default;
$font-size-28:                          28px !default;
$font-size-29:                          29px !default;
$font-size-30:                          30px !default;
$font-size-32:                          32px !default;
$font-size-34:                          34px !default;
$font-size-36:                          36px !default;
$font-size-38:                          38px !default;
$font-size-40:                          40px !default;
$font-size-50:                          50px !default;
$font-size-60:                          60px !default;
$font-size-70:                          70px !default;
$font-size-80:                          80px !default;
$font-size-90:                          90px !default;
$font-size-100:                         100px !default;

/* Font Wight */
$font-weight-300:                       300 !default;
$font-weight-400:                       400 !default;
$font-weight-500:                       500 !default;
$font-weight-600:                       600 !default;
$font-weight-700:                       700 !default;

/* Scroll */
$scroll-button-color:                 rgba(190,191,190,0.5) !default; 
$scroll-button-hover-color:           rgba(190,191,190,0.7) !default;
$scrollbar-track:                     #E5E5E5 !default; /* 화살표를 제외한 스크롤 부분 */
$scrollbar-track-piece:               #E5E5E5 !default; /* 스크롤 뒷배경 */
$scrollbar-thumb:                     #626163 !default; /* 스크롤 움직이는 부분 */
$scrollbar-button:                    #626163 !default;/* 스크롤 버튼 좌우상하 영역 */
$scrollbar-corner:                    #f6f6f6 !default; /* 우측 하단의 코너 부분 */
$scrollbar-thumb-hover:               #c2c2c2 !default;

/* -------------------------

Style Sheets Variable

Theme

------------------------- */
/* Theme : Purple Color */
.theme-purple {

   /* Common Color */
   --header-color:                           #2a0b44;
   --body-background:                        #f4f3f5;
   --drag-color:                             #f2ecfb;

   --icon-color:                             #c3b4d9;
   --icon-hover-color:                       #f4f1f8;
   --default-color:                          #2a0b44;
   --sub-color:                              #cb2f70;

   /* Color : Border */
   --border-focus-color:                     #9485A1;
   --border-focus-box-shadow:                 0px 0px 5px 1px rgba(148,133,161,0.5);

   /* Color : Side Menu */
   --sidebar-active-color:                   rgba(160,152,201,0.5);
   --sidebar-hover-color:                    rgba(160,152,201,0.2);

   /* Color : Hover + Active */
   --active-color:                           #ede8f4;
   --hover-color:                            #f9f7fb;
   --card-active-color:                      #6d55b0;

   /* Color : Card Hover */
   --card-hover:                             #ede8f4;

   /* Color : Slider */
   --slider-bar-color :                      #2a0b44;
   --slider-bg-color :                       rgba(61,46,36, 0.2);
   --box-shabow-slider:                       0.5px 0.5px 10px 6px rgba(148,133,161,0.5);

   /* Color : progress */
   --progress-bar-color :                    #2a0b44;
   --progress-bg-color :                     rgba(61,46,36, 0.2);

   /* Color : Variant card */
   --variant-card-color:                     #8c69a9;
   --variant-card-active-color:              #8c69a9;
   --variant-card-hover-color:               #f3e5f5;

   /* Color : Table */
   --table-border-header-color:              #2a0b44;
   --table-border-body-color:                #e9e6ec;

   /* Button : Default */
   --btn-default-color:                      #2a0b44;
   --btn-default-active-color:               #553c69;
   --btn-default-hover-color:                #9485a1;

   /* Button : Sub*/
   --btn-sub-color:                          #cb2f70;
   --btn-sub-active-color:                   #d76998;
   --btn-sub-hover-color:                    #df91b2;
}

/* Theme : Brown Color */
.theme-brown {
   /* Common Color */
   --header-color:                           #2b2112 !important;
   --body-background:                        rgba(43, 33, 18, 0.03);
   --drag-color:                             rgba(175, 165, 158, 0.5);
   
   --icon-color:                             #a59d95;
   --icon-hover-color:                       rgba(175, 165, 158, 0.5);
   --default-color:                          #4D4035;
   // --secondary-color:                        #AFA59E;

   /* Color : Border */
   --border-focus-color:                     rgba(175, 165, 158, 0.5);
   --border-focus-box-shadow:                  0px 0px 5px 1px rgba(175, 165, 158, 0.3);

   /* Color : Side Menu */
   --sidebar-active-color:                   rgba(175, 165, 158, 0.5);
   --sidebar-hover-color:                    rgba(175, 165, 158, 0.2);

   /* Color : Hover + Active */
   --active-color:                           rgba(175, 165, 158, 0.3);
   --hover-color:                            rgba(175, 165, 158, 0.2);
   --card-active-color:                      #736551;

   /* Color : Card Hover */
   --card-hover:                             rgba(175, 165, 158, 0.1);

   /* Color : slider */
   --slider-bar-color :                      #3d2e24;
   --slider-bg-color :                       rgba(61,46,36, 0.2);
   --box-shabow-slider:                       0.5px 0.5px 10px 6px rgba(175, 165, 158, 0.5);

   /* Color : progress */
   --progress-bar-color :                    #3d2e24;
   --progress-bg-color :                     rgba(61,46,36, 0.2);

   /* Color : Variant card */
   --variant-card-color:                     rgba(175, 165, 158, 0.5);
   --variant-card-active-color:              rgba(61,46,36, 0.5);
   --variant-card-hover-color:               rgba(61,46,36, 0.2);

   /* Color : Table */
   --table-border-header-color:              #4D4035;
   --table-border-body-color:                rgba(175, 165, 158, 0.3);

   /* Button : default */
   --btn-default-color:                      #4D4035;
   --btn-default-active-color:               rgba(77, 64, 53,0.7);
   --btn-default-hover-color:                rgba(77, 64, 53,0.3 );
}


/* Theme : Green Color */
.theme-green {
   /* Common Color */
   --header-color:                           #1a2826;
   --body-background:                        #edeeee;
   --drag-color:                             #cbe0dd;
   
   --icon-color:                             #53998d;
   --icon-hover-color:                       rgba(83, 153, 141, 0.5);
   --default-color:                          #124c42;
   // --secondary-color:                        #53998d;

   /* Color : Border */
   --border-focus-color:                     rgba(83, 153, 141, 0.5);
   --border-focus-box-shadow:                  0px 0px 5px 1px rgba(83, 153, 141, 0.5);

   /* Color : Side Menu */
   --sidebar-color:                          #1a2826;
   --sidebar-active-color:                   rgba(18, 76, 66, 0.3);
   --sidebar-hover-color:                    rgba(18, 76, 66, 0.1);

   /* Color : Hover + Active */
   --active-color:                           rgba(83, 153, 141, 0.3);
   --hover-color:                            rgba(83, 153, 141, 0.2);
   --card-active-color:                      #49867d;
   
   /* Color : Card Hover */
   --card-hover:                             rgba(83, 153, 141, 0.1);

   /* Color : slider */
   --slider-bar-color :                      #124c42;
   --slider-bg-color :                       rgba(18, 76, 66, 0.3);
   --box-shabow-slider:                       0.5px 0.5px 10px 6px rgba(18, 76, 66, 0.3);

   /* Color : progress */
   --progress-bar-color :                    #124c42;
   --progress-bg-color :                     rgba(21,56,43, 0.1);

   /* Color : Variant card */
   --variant-card-color:                     rgba(83, 153, 141, 0.5);
   --variant-card-active-color:              rgba(18, 76, 66, 0.5);
   --variant-card-hover-color:               rgba(18, 76, 66, 0.2);
   
   /* Color : Table */
   --table-border-header-color:              #15382b;
   --table-border-body-color:                rgba(21,56,43, 0.1);

   /* Button : default */
   --btn-default-color:                      #124c42;
   --btn-default-active-color:               rgba(18, 76, 66, 0.7);
   --btn-default-hover-color:                rgba(18, 76, 66, 0.3);
}

