@charset "UTF-8";

/* -------------------------
Style Sheets Variable
Common
------------------------- */

/* Image : Theme > blue */
.theme-blue{
  /*sidebar*/
  --ico-home:                           url("../public/images/theme/blue/sidebar/ico_home.svg");
  --ico-discovery:                      url("../public/images/theme/blue/sidebar/ico_discovery.svg");
  --ico-dashboard:                      url("../public/images/theme/blue/sidebar/ico_dashboard.svg");
  --ico-delta:                          url("../public/images/theme/blue/sidebar/ico_delta.svg");
  --ico-logreplay:                      url("../public/images/theme/blue/sidebar/ico_logreplay.svg");
  --ico-matrix:                         url("../public/images/theme/blue/sidebar/ico_matrix.svg");
  --ico-social:                         url("../public/images/theme/blue/sidebar/ico_social.svg");
  --ico-dotted:                         url("../public/images/theme/blue/sidebar/ico_dotted.svg");
  --ico-gantt:                          url("../public/images/theme/blue/sidebar/ico_gantt.svg");

  /*Organize*/
  --ico-data:                           url("../public/images/theme/blue/sidebar/ico_data.svg");
  --ico-standard:                       url("../public/images/theme/blue/sidebar/ico_standard.svg");
  --ico-datasource:                     url("../public/images/theme/blue/sidebar/ico_datasource.svg");

  /*manage*/
  --ico-user:                           url("../public/images/theme/blue/sidebar/ico_user.svg");
  --ico-setting:                        url("../public/images/theme/blue/sidebar/ico_setting.svg");
  --ico-manage:                         url("../public/images/theme/blue/sidebar/ico_manage.svg");

  /*process*/
  --ico-filter:                         url("../public/images/theme/blue/process/ico_filter.svg");
  --ico-list:                           url("../public/images/theme/blue/process/ico_list.svg");
  --ico-editor:                         url("../public/images/theme/blue/process/ico_editor.svg");
  --ico-horizontal:                     url("../public/images/theme/blue/process/ico_horizontal_sort.svg");
  --ico-vertical:                       url("../public/images/theme/blue/process/ico_vertical_sort.svg");
  --ico-map-show:                       url("../public/images/theme/blue/process/ico_map_show.svg");
  --ico-map-hide:                       url("../public/images/theme/blue/process/ico_map_hide.svg");
  --ico-table:                          url("../public/images/theme/blue/process/ico_table.svg");
  --ico-bottleneck:                     url("../public/images/theme/blue/process/ico_bottleneck.svg");
  --ico-rework:                         url("../public/images/theme/blue/process/ico_rework.svg");
  --ico-standard-editor:                url("../public/images/theme/blue/process/ico_standard_editor.svg");
  --ico-graph-align:                    url("../public/images/theme/blue/process/ico_graph_align.svg");
  --ico-option-log:                     url("../public/images/theme/blue/process/ico_option_log.svg");

  /*logo*/
  --logo-ipr-fullname:                  url("../public/images/theme/blue/logo_ipr_fullname.svg");
  --logo-ipr:                           url("../public/images/theme/blue/logo_ipr.svg");
}

/* -------------------------
Color - Theme
------------------------- */
/* Theme : Blue Color */
.theme-blue{

  /* Color : common */
  --header-color:              #0367A6 !important;
  --drag-color:                #E1E7F4;
  
  /* Color : main */
  --default-color:             #0367A6;
  --default-hover-color:       #035B92;
  --default-disabled-color:    #CCE0ED;
  
  /* Button : Default */
  --btn-default-color:         #0367A6;
  --btn-default-active-color:  #496EBE;
  --btn-default-hover-color:   #035B92;
  
  /* Color : Side Menu */
  --sidebar-active-color:      #0367A6;
  --sidebar-hover-color:       #D3DBED;
  
  /* Color : Variant card */
  --variant-card-color:        #0367A6;
  --variant-card-active-color: #0367A6;
  --variant-card-hover-color:  #D3DBED;
  
  --hover-color:               #E5EFF6;
  --active-color:              #0367A6;
  --icon-color:                #BFBFBF;
  --icon-active-color:         #0367A6;
  --icon-hover-color:          #E2E2E4;
  
  /* Color : sidebar */
  --nav-icon-color:            #0367A6;
  --nav-active-color:          #FFFFFF;
  --nav-link-color:            #212121;
  
  /* Color : main > border */
  --border-focus-color:        #0367A6;
  --border-focus-box-shadow:   none;
  --table-border-header-color: #0367A6;
  --table-border-body-color:   #DFDFDF;
  
  --table-border-color:        #0367A6;
  --tbody-border-color:        #DFDFDF;
  
  --slider-bar-color:          #0367A6;
  --slider-bg-color:           #D9D9D9;
  --slider-bar-active-color:   #F2F2F2;
  --slider-color:              #0367A6;
  
  --box-shabow-slider:         0.5px 0.5px 10px 6px rgba(54, 95, 183,0.5);
  
  /* Color : progress */
  --progress-bar-color :       #0367A6;
  --progress-bg-color :        #D9D9D9;
  --progress-sub-color :       #80B2D2;
  --progress-bg-color :        #D9D9D9;
}

/* -------------------------
Theme : image
------------------------- */
.theme-blue{
  .logo-ipr-fullname{
    background-image: url("../public/images/theme/blue/logo_ipr_fullname.svg");
  }
  .logo-ipr{
    background-image: url("../public/images/theme/blue/logo_ipr.svg");
  }
  /*sidebar*/
  .ico-home{
    background-image: url("../public/images/theme/blue/sidebar/ico_home.svg");
  }
  .ico-dashboard{
    background-image: url("../public/images/theme/blue/sidebar/ico_dashboard.svg");
  }
  .ico-discovery{
    background-image: url("../public/images/theme/blue/sidebar/ico_discovery.svg");
  }
  .ico-delta{
    background-image: url("../public/images/theme/blue/sidebar/ico_delta.svg");
  }
  .ico-logreplay{
    background-image: url("../public/images/theme/blue/sidebar/ico_logreplay.svg");
  }
  .ico-matrix{
    background-image: url("../public/images/theme/blue/sidebar/ico_matrix.svg");
  }
  .ico-social{
    background-image: url("../public/images/theme/blue/sidebar/ico_social.svg");
  }
  .ico-dotted{
    background-image: url("../public/images/theme/blue/sidebar/ico_dotted.svg");
  }
  .ico-gantt{
    background-image: url("../public/images/theme/blue/sidebar/ico_gantt.svg");
  }
  .ico-data{
    background-image: url("../public/images/theme/blue/sidebar/ico_data.svg");
  }
  .ico-standard{
    background-image: url("../public/images/theme/blue/sidebar/ico_standard.svg");
  }
  .ico-datasource{
    background-image: url("../public/images/theme/blue/sidebar/ico_datasource.svg");
  }
  .ico-user{
    background-image: url("../public/images/theme/blue/sidebar/ico_user.svg");
  }
  .ico-setting{
    background-image: url("../public/images/theme/blue/sidebar/ico_setting.svg");
  }
  .ico-manage{
    background-image: url("../public/images/theme/blue/sidebar/ico_manage.svg");
  }
  /*process*/
  .ico-filter{
    background-image: url("../public/images/theme/blue/process/ico_filter.svg");
  }
  .ico-list{
    background-image: url("../public/images/theme/blue/process/ico_list.svg");
  }
  .ico-horizontal{
    background-image: url("../public/images/theme/blue/process/ico_horizontal_sort.svg");
  }
  .ico-vertical{
    background-image: url("../public/images/theme/blue/process/ico_vertical_sort.svg");
  }
  .ico-map-show{
    background-image: url("../public/images/theme/blue/process/ico_map_show.svg");
  }
  .ico-map-hide{
    background-image: url("../public/images/theme/blue/process/ico_map_hide.svg");
  }
  .ico-table{
    background-image: url("../public/images/theme/blue/process/ico_table.svg");
  }
  .ico-bottleneck{
    background-image: url("../public/images/theme/blue/process/ico_bottleneck.svg");
  }
  .ico-rework{
    background-image: url("../public/images/theme/blue/process/ico_rework.svg");
  }
  .ico-standard-editor{
    background-image: url("../public/images/theme/blue/process/ico_standard_editor.svg");
  }
  .ico-option-align{
    background-image: url("../public/images/theme/blue/process/ico_graph_align.svg");
  }
  .ico-option-log{
    background-image: url("../public/images/theme/blue/process/ico_option_log.svg");
  }
}